{% extends "../superAdmin/basesuadmin.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/superAdmin/styledashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/notificaciones.css' %}">
{% endblock extrastyle %}

{% block title %}
Home SUAdmin
{% endblock title %}


{% block content %}
    

    

        <body>
            
            <section class="dashboard"> 
                <h1>Inicio</h1>
            
                <div class="caja_dash">
                    <div class="box_dash">
                        <a href="{% url 'usuariodash' %}">Usuarios</a>
                    </div>
                    <div class="box_dash">
                        <a href="{% url 'inventariodash' %}">Inventario</a>
                    </div>
                    <div class="box_dash">
                        <a href="{% url 'elementosdash' %}">Elementos</a>
                    </div>
                    <div class="box_dash">
                        <a href="{% url 'transacciondash' %}">Transacciones</a>
                    </div>
                </div>
                
                <div class="dashboard2">
                    <div class="vista_usuario">
                        <div class="usuarios_dash">
                            <!-- Area de notificaciones plantilla-->
                            
                            {% if Prestamos  %}
                                
                                
                            {% for Prestamos  in Prestamos %}
                            <div class="area-notificaciones">
                                
                               
                                <div class="contenido-notificaciones">
                                    <div class="logo-notificaciones">
                                        <img src="{% static 'img/notificaciones.png' %}" alt="" class="logo-notificaciones">
                                        <!-- Acciones Notificaciones-->
                                        
                                    </div>
                                    <div class="acciones">
                                        <a href="#"><img src="{% static 'img/vision.png' %}" title="Visualizar Prestamo" alt="" class=""></a>
                                        <a href="#"><img src="{% static 'img/editar.png' %}" title="Editar Prestamo" alt="" class=""></a>
                                        <a href="#"><img src="{% static 'img/finalizar.png' %}" title="Finalizar Prestamo" alt="" class=""></a>
                                    </div>
                                    <div class="caja-texto-notificaciones">
                                        <div>
                                            <h2>{{ Prestamos.nombreRecibe }}: <br>
                                                {{ Prestamos.fechaDevolucion }} </h2>
                                                <p>{{ Prestamos.serial }}</p>
                                                <p>{{ Prestamos.observacionesPrestamo }}</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        {% else %}
                        <h1>NO TENEMOS PRESTAMOS PENDIENTES</h1>
                        {% endif %}
                        
                        </div>
                    </div>
        
                    <div class="fechas">
                        <div class="logo">
                            <img src="{% static 'img/imgdashboard/senaL.png' %}" alt="" width="100px">
                        </div>
                        <div id="fechaHora">
                            
                        </div>
                    </div>
                </div>
            </section>
            
        <!-- fin Cotenido principal -->

        {% endblock content %}

   
   {% block extrajs %}
   <script src="{% static 'js/dashboard.js' %}"></script>  
   {% endblock extrajs %}
    
