<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} Base S.A {% endblock title %}</title> 

    <link rel="stylesheet" href="{% static 'css/superAdmin/stylesBaseSuAdmin.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    {% block extrastyle %} 
    
    {% endblock extrastyle %}
    
    
    {% block extrascript %} {% endblock extrascript %}
    
  

</head>

<body class="cabeza">
    <header >
        <div class="header">
            <div class="img">
                <img src="{% static 'img/Copia de LOGO SSIH.svg' %}" alt="logo sena">
            </div>
            <span class="material-icons-sharp" id="hambur">
                menu
            </span>
            <div class="usuario">
                
                <div>   
                    <p>Usuario</p>
                    <p>Super Administrado</p>
                </div>  
                <img src="{% static 'img/usuario.png' %}" alt="Usuario">
            </div>
            

        </div>
    </header>

    <section  class="contenedor">
        <aside class="aside" id="aside">
            <div class="contenedor-barra-lateral">
                <div class="barra-lateral">
                    
                    <a href="" class="logos">
                        <span class="material-icons-sharp" id="hambur">
                            menu
                        </span>
                        <img src="{% static 'img/logo-sena-verde-svg-2022.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            home
                        </span>
                        Home
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            person
                        </span>
                        Usuario
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            inventory
                        </span>
                        Inventario
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            category
                        </span>
                        Elementos
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            calendar_month
                        </span>
                        Calendario
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Salir</h3>
                    </a>
                </div>
            </div>
        </aside>  

        <!-- Cotenido principal -->
        
        <section class="contenidoExtra">

        {% block content %}

        {% endblock %}

        </section>
       
        <!-- fin Cotenido principal -->

    </section>

    <script src="{% static 'js/scriptBaseSuAdmin.js' %}"></script>
    
  
    
    {% block extrajs %}
        
    {% endblock extrajs %}
        

    <!-- alert sweet2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% if messages %}
    {% for message in messages %}
        <script>
            var messageType = "{{ message.tags }}";
            var messageText = "{{ message }}";
            var confirmButtonText = "Aceptar";
            
            if (messageType === "success") {
                Swal.fire({
                    title: 'Éxito',
                    text: messageText,
                    icon: 'success',
                    confirmButtonText: confirmButtonText
                });
            } else if (messageType === "warning") {
                Swal.fire({
                    title: 'Advertencia',
                    text: messageText,
                    icon: 'warning',
                    confirmButtonText: confirmButtonText,
                    showCancelButton: true,
                })
                    .then((result) => {
                        if (result.isConfirmed) {
                          Swal.fire(
                            'Eliminado!',
                            'Eliminado Correctamente.',
                            'success'
                          )
                        }
                      });
                
            } else if (messageType === "error") {
                Swal.fire({
                    title: 'Error',
                    text: messageText,
                    icon: 'error',
                    confirmButtonText: confirmButtonText
                });
            } else if (messageType === "info") {
                Swal.fire({
                    title: 'Información',
                    text: messageText,
                    icon: 'info',
                    confirmButtonText: confirmButtonText
                });
            } else {
                // Mensaje personalizado para cualquier otro tipo
                Swal.fire({
                    title: 'Mensaje personalizado',
                    text: messageText,
                    icon: 'info',
                    confirmButtonText: confirmButtonText
                });
            }
        </script>
    {% endfor %}
{% endif %}

    <!-- fin  alert sweet2 -->
    

</body>
</html>