{% extends "../superAdmin/basesuadmin.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/superAdmin/styledashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/notificaciones.css' %}">
{% endblock extrastyle %}



{% block title %}
Home SUAdmin
{% endblock title %}


{% block content %}
    

    

        <body>
            <section class="dashboard"> 
                <h1>Inicio</h1>
                <div class="caja_dash">
                    <div class="box_dash">
                        <a href="{% url 'usuariodash' %}">Usuarios</a>
                    </div>
                    <div class="box_dash">
                        <a href="{% url 'inventariodash' %}">Inventario</a>
                    </div>
                    <div class="box_dash">
                        <a href="{% url 'elementosdash' %}">Elementos</a>
                    </div>
                    <div class="box_dash">
                        <a href="{% url 'transacciondash' %}">Transacciones</a>
                    </div>
                </div>
                <div class="dashboard2">
                    <div class="vista_usuario">
                        <div class="usuarios_dash">
                            <!-- Area de notificaciones plantilla-->
                            <div class="area-notificaciones">
                                <h2>Título de la notificación</h2>
                                <div class="contenido-notificaciones">
                                    <div class="logo-notificaciones">
                                        <img src="{% static 'img/imgdashboard/senaL.png' %}" alt="" class="logo-notificaciones">
                                        <!-- Reemplazar con imagen personalizada-->
                                    </div>
                                    <div class="caja-texto-notificaciones">
                                        <div>
                                            <h4>Origen</h4>
                                        </div>
                                        <div class="caja-texto-notificaciones">
                                            <p>Contenido: Una acción ha sido realizada</p>
                                            <a href="#">ver más...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="area-notificaciones">
                                <h2>Título de la notificación</h2>
                                <div class="contenido-notificaciones">
                                    <div class="logo-notificaciones">
                                        <img src="{% static 'img/imgdashboard/senaL.png' %}" alt="" class="logo-notificaciones">
                                        <!-- Reemplazar con imagen personalizada-->
                                    </div>
                                    <div class="caja-texto-notificaciones">
                                        <div>
                                            <h4>Origen</h4>
                                        </div>
                                        <div class="caja-texto-notificaciones">
                                            <p>Contenido: Una acción ha sido realizada</p>
                                            <a href="#">ver más...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="area-notificaciones">
                                <h2>Título de la notificación</h2>
                                <div class="contenido-notificaciones">
                                    <div class="logo-notificaciones">
                                        <img src="{% static 'img/imgdashboard/senaL.png' %}" alt="" class="logo-notificaciones">
                                        <!-- Reemplazar con imagen personalizada-->
                                    </div>
                                    <div class="caja-texto-notificaciones">
                                        <div>
                                            <h4>Origen</h4>
                                        </div>
                                        <div class="caja-texto-notificaciones">
                                            <p>Contenido: Una acción ha sido realizada</p>
                                            <a href="#">ver más...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="fechas">
                        <div class="logo">
                            <img src="{% static 'img/imgdashboard/senaL.png' %}" alt="" width="100px">
                        </div>
                        <div id="fechaHora">
                            
                        </div>
                    </div>
                </div>
            </section>
        <!-- fin Cotenido principal -->

        {% endblock content %}

   
   {% block extrajs %}
   <script src="{% static 'js/dashboard.js' %}"></script>  
   {% endblock extrajs %}
    
